body {
    font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.538;
    color: #545454;
    background-color: #f4f4f4;
    text-align: left;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.bg-info {
    background-color: #2cc185 !important;
}

/****** cards *****/

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
}

.card {
    background-color: #fff;
    margin-bottom: 29px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    border-radius: 1px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0 solid rgba(0, 0, 0, .125);
}

.card-header {
    font-size: 1.385rem;
    font-weight: 400;
    color: #3d3d3d;
    padding: 24px 0 14px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0 20px;
}

.card-header-divider {
    border-bottom: 1px solid #e6e6e6;
    padding-left: 0;
    padding-right: 0;
}

.card-subtitle {
    display: block;
    font-size: 1rem;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 4px;
    color: #878787;
}

.card-body {
    padding: 14px 20px 14px;
}


/**** form ****/


.form-group {
    margin-bottom: 1.5rem;
}